<h1>New Message</h1>

<%= form_for [@discussion, @message] do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Message' %>
  </div>
<% end %>
