<div id="page-content" >

<div class="container" id="home-container" >

<div class="jumbos mt-4 p-5 text-white rounded text-center">
  <h1>Welcome to Our Basecamp2</h1>
  <p>Lorem ipsum...</p>
  <p>Lorem ipsum...</p>
  <p>Lorem ipsum...</p>
  <a class="btn btn-success btn-lg" href="#" role="button">Sign up</a>
  
</div>
</div>
<p class=><%= link_to 'Return to Projects List', projects_path %> | 
<%= link_to 'About page', about_path %></p>

</div>


<footer class="page-footer fixed-bottom mt-auto py-3 bg-dark ">
    <div class="container text-center text-white">Bunmijemiyo, home of ... Wealth. Copyright &copy;<%= link_to "Google", "https://google.com", class: "text-white" %>
    </div>
</footer>



