<h1> Showing Projects details</h1>

<p>Title: <%= @project.title %> </p>
<p>Decsription: <%= @project.description %></p>
<% if @project.image.attached? %>
    <p>
  <img src="<%= url_for(@project.image) %>" alt="Project Image" width="80" height="80">
<% end %>
</p>